.food__list {
  @include reset-list;
}

@media (min-width: $desktop-width) {
  .food {
    padding-top: 30px;
  }

  .food__wrapper {
    margin-left: 15vw;
  }

  .food__list {
    display: flex;
    flex-wrap: wrap;
    line-height: 0;
  }

  .food__item {
    margin-right: 30px;
    margin-bottom: 30px;

    img {
      outline: 0;
    }

    &:hover,
    &:focus-within {
      opacity: 0.8;
    }
  }
}
