.interiors__list {
  @include reset-list;
}

.interiors__item {
  margin-bottom: 20px;

  img {
    outline: 0;
  }
}

@media (min-width: $desktop-width) {
  .interiors {
    padding-top: 30px;
  }

  .interiors__wrapper {
    margin-left: 15vw;
  }

  .interiors__list {
    display: flex;
    flex-wrap: wrap;
    line-height: 0;
  }

  .interiors__item {
    margin-right: 30px;
    margin-bottom: 30px;

    &:hover,
    &:focus-within {
      opacity: 0.8;
    }
  }
}
