.page-main {
  margin-bottom: 20px;
}

.page-main__wrapper {
  line-height: 0;
}

.page-main__main-photo {
  display: block;
  width: 100vw;

  object-fit: cover;
}

@media (min-width: $desktop-width) {
  .page-main {
    margin-bottom: 0;
  }

  .page-main__main-photo {
    width: 85%;
    height: 100vh;
    margin-left: 15vw;
    background-color: $color-gray;
  }
}
