.portrets__list {
  @include reset-list;
}

.portrets__item {
  margin-bottom: 20px;

  outline: 0;
}

@media (min-width: $desktop-width) {
  .portrets {
    padding-top: 30px;
  }

  .portrets__wrapper {
    margin-left: 15vw;
  }

  .portrets__list {
    display: flex;
    flex-wrap: wrap;
    line-height: 0;
  }

  .portrets__item {
    margin-right: 30px;
    margin-bottom: 30px;

    &:hover,
    &:focus-within {
      opacity: 0.8;
    }
  }
}
