.series__list {
  @include reset-list;
}

.series__link {
  display: block;

  img {
    display: block;
  }
}

.series__item {
  position: relative;

  margin-bottom: 10px;
}

.series__details {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.series__name {
  position: absolute;
  left: 30px;
  bottom: 30px;

  font-size: 16px;
  color: $color-white;
}

@media (min-width: $desktop-width) {
  .series {
    padding-top: 30px;
  }

  .series__wrapper {
    margin-left: 15vw;
  }

  .series__list {
    display: flex;
    flex-wrap: wrap;

    line-height: 0;
  }

  .series__item {
    position: relative;

    margin-right: 30px;
    margin-bottom: 30px;
  }

  .series__name {
    display: none;

    font-size: 16px;
    color: $color-white;
  }

  .series__details {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .series__link {
    display: block;

    outline: 0;

    &:hover,
    &:focus-within {
      .series__details {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 190%);
      }

      .series__name {
        position: absolute;
        left: 30px;
        bottom: 30px;

        display: block;
      }
    }
  }
}
