html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

*::before {
  box-sizing: inherit;
}

*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: "PTSerif-Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
